@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// general settings
* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #202020;
    background-color: #ffffff
}

ul {
    margin: 0;
    padding: 0;
}

//Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;
$breakpoint: "900px";
$hover-color: #eeeeee;
$icon-color: white;

/* Mixins
  ============================================ */
@mixin va($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align ==right {
        justify-content: right;
    }

    @if $va-align ==left {
        justify-content: left;
    }

    @if $va-align ==center {
        justify-content: center;
    }
}

@mixin no-select {
    user-select: none;
}

@mixin btn($width) {
    min-width: $width;
    color: #fff;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

@mixin transparent-button() {
    background-color: transparent;
    border: 0;
}

@mixin task-item() {
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
        background-color: #f9f9f9;
    }
}

@mixin mq($from) {
    @media (max-width: $from) {
        @content;
    }
}

/* Darkmode
    ============================================ */
.darkmode {
    header {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        background-color: #282828;
        border-color: transparent;
    }
}

/*Header
================================ */
header {
    border-bottom: solid 1px #ca2100;
    background-color: $generic-bg;
    transition: height 200ns ease-in;
    box-shadow: 0 1px 2px rgbe(0, 0, 0, 0.15);
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;

    nav {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 922px;
        margin: auto;
        margin-left: 10px;
        height: 44px;
        color: $icon-color;

        &.settings {
            grid-area: 1 / 2;
            text-align: right;

            ul {
                float: right;
                display: flex;

                li {
                    @include va;
                    list-style-type: none;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;

                    &:hover {
                        border-radius: 3px;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}

/* Sidebar
  ============================================ */
.sidebar_wrapper {
    @include mq($breakpoint) {
        position: absolute;
        left: 0;
        top: 100;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: 800ms;
    }
}

.sidebar.show {
    left: 0;
    transition: 350ms;
}

.sidebar {
    padding-left: 15px;
    padding-right: 15px;
    width: 290px;
    height: calc(100vh);
    padding-top: 30px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: $generic-border;
    background-color: #fafafa;
    left: -100%;
    transition: 800ms;
    @include no-select();

    @include mq($breakpoint) {
        left: -100%;
    }

    li {
        @include va('left');
        padding-left: 10px;
        border-radius: 6px;
        list-style-type: none;
        color: #333;
        cursor: pointer;
        line-height: 2.00;
        font-size: 18px;

        &.active,
        &:hover {
            font-weight: bold;
            background-color: $hover-color;
        }

        &:hover .sidebar__project-delete {
            display: flex
        }
    }

    .sidebar__project {
        margin: 5px;
    }

    &__project {
        &-delete {
            margin-left: auto;
            margin-right: 15px;

            // display: none;
            svg {
                color: #cacaca;
                font-size: 15px;
                // display: none;
            }
        }
    }

    &__dot {
        margin-right: 5px;
    }

    &__middle {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: flex;
        border-bottom: $generic-border;
        align-items: center;
        cursor: pointer;

        >span {
            width: 100%;
            @include va('right');
            gap: 15px;
            color: #cacaca;
            margin-right: 10px;

            svg {
                // display: none;
                font-size: 15px;

                &:hover {
                    color: #555;
                }
            }

            svg.projects-hide {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }

        h2 {
            margin: 0;
            color: rgba(0, 0, 0, 0.56);
            font-size: 15px;
            font-weight: bold;
        }
    }

    &__generic {
        li {
            span:first-of-type {
                margin-right: 10px;
                display: flex;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;
                    color: #555;
                }
            }
        }
    }
}

/* Modal
  ============================================ */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &__content {
        padding: 10px;
        min-width: 400px;
        min-height: 180px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        color: black;

        &-title {
            margin-top: 0;
        }

        &-button {
            gap: 10px;
            @include va('right');

            button:nth-child(1) {
                @include btn(70px);
                color: #555;

                &:hover {
                    background-color: gray;
                }
            }

            button:nth-child(2) {
                @include btn(70px);
                background-color: $generic-bg;

                &:hover {
                    background-color: #b03d32;
                }
            }
        }
    }
}

/* Delete Modal 
  ============================================ */
.project-delete-modal {
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: normal;
        font-weight: normal;
        font-size: 18px;
        padding-bottom: 22px;

        span {
            font-weight: bold;
        }
    }
}

/* Add Modal 
  ============================================ */
.project-add-modal {
    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name,
    &__color {
        border-radius: 5px;
        height: 30px;
        border: 1px solid #cacaca;
        width: 450px;
    }

    &__color {
        cursor: pointer;
        background-color: transparent;
    }
}

.project-add-modal__color-list {
    overflow-y: scroll;
    max-height: 225px;
    position: absolute;
    background-color: white;
    width: 450px;
    top: 418px;
    line-height: 2.0;
}

/* ListElement
========================================================= */
.list-element {
    cursor: pointer;
    flex-direction: row;
    @include va("left");
    gap: 15px;

    span &__dot {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        margin-left: 10px;
    }

    &:hover {
        background-color: #cacaca;
    }
}

/* Tasks
========================================================= */
.tasks {
    @include mq($breakpoint) {
        margin-left: 35px;
        margin-right: 35px;
        width: auto;
    }

    @include no-select();
    width: 600px;
    background-color: white;
    margin-left: 375px;
    margin-top: 45px;
    padding-top: 36px;

    h2 {
        margin: 0;
        margin-bottom: 25px;
    }

    &__list li {
        display: flex;
        gap: 10px;
        cursor: pointer;
        line-height: 20px;
        color: #333;
        padding: 10px 0px 10px 0px;
        font-size: 15px;
        list-style-type: none;
        border-bottom: 1px solid #f0f0f0;

        .task__wrapper {
            width: 100%;

            &:hover .task__edit {
                display: inline
            }

            display: flex;

            .task__description {
                display: flex;
                flex-direction: column;
                flex: 1;

                &-date {
                    font-size: 10px;
                }
            }

            .task__edit {
                cursor: pointer;
                font-size: 30px;
                color: #cacaca;
                display: none;
            }
        }

        .checkbox-holder {
            display: flex;
            margin-right: 10px;
            // line-height: 16px;
            cursor: pointer;

            .checkbox {
                border-color: gray;
                border: 1px solid gray;
                color: #343434;
                height: 16px;
                width: 16px;
                border-radius: 16px;
            }
        }
    }

    &__add-task {
        @include mq($breakpoint) {
            // margin-left: 35px;
            // margin-right: 35px;
            width: auto;
        }

        display: flex;
        line-height: 20px;
        padding: 15px 0px 10px 0px;
        font-size: 15px;
        color: $generic-bg;
        cursor: pointer;

        &:hover &-plus {
            background-color: $generic-bg;
            color: white;
        }

        &-plus {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            font-size: 20px;
        }
    }
}

/* AddTasks
========================================================= */
.add-task {
    &__setting {
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        input {
            width: 100%;
            border: none;
            outline: none;
        }

        border: 1px solid #cacaca;
        gap: 10px;
    }

    &__setting-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;

        button {
            position: relative;
            cursor: pointer;
            @include va;
            gap: 5px;
            background-color: transparent;
            border: 1px solid #cacaca;
            border-radius: 5px;
            height: 30px;
        }
    }

    &__add {
        @include va("right");
        gap: 10px;
        padding-top: 10px;

        button {
            @include btn("70");
            color: #555;
        }

        button:nth-child(2) {
            background-color: $generic-bg;
            color: white
        }

        button:nth-child(2):disabled {
            background-color: #f1b7b2;
            cursor: not-allowed;
        }
    }
}

.add-task-absolute {
    @include mq($breakpoint) {
        // margin-left: 35px;
        // margin-right: 35px;
        width: 80%;
        // transform: translate(-50%);
    }

    background-color: white;
    position: absolute;
    width: 500px;
    top: 100px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 50px 0 rgb(0 0 0 / 35%);
    padding: 10px 10px 30px 10px;
    transform: translate(-50%);
}

/* Task Date
  ============================================ */
.task-date {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;

    &__list li {
        @include task-item();
        padding: 0;

        div:nth-child(1) {
            padding: 10px;
            width: 100%;
            display: flex;

            span:first-of-type {
                margin-right: 10px;

                svg {
                    fill: grey;
                }
            }
        }
    }
}

.data-picker {
    font-size: 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div {
        @include va("right")
    }

    &__week {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__element {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

        &.active {
            background-color: $generic-bg !important;
        }

        &.selectable {
            &:hover {
                background-color: $hover-color !important;
            }
        }
    }
}